<div class="form-group">
    <label for="title1">Title:</label>
    <input required type="text" name="title1" id="title1" class="form-control" value="<%= articleObj.title %>">
</div>
<div class="form-group mt-4">
    <label for="description1">Description:</label>
    <textarea name="description1" id="description1" class="form-control"> <%= articleObj.description %> </textarea>
</div>
<div class="form-group mt-4">
    <label for="markdown1">Markdown:</label>
    <textarea name="markdown1" id="markdown1" class="form-control" required> <%= articleObj.markdown %> </textarea>
</div>