extends base.pug

block content
    form(action="submit-form-with-post", method="post")
        input(type="text", name="username")
        input(type="number", name="age")
        input(type="submit", name="Done")