<%-include("./partials/header.ejs") %>

<h1 class="st-font">Home Page</h1>
<i class="fa-brands fa-facebook"></i>
<button type="button" class="btn btn-primary">Primary</button>

<%-include("./partials/footer.ejs") %>
